
* {
    box-sizing: border-box;
}


body {
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    margin: 15;
    padding: 0.5rem;
    font-size:2rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: #9e9e9e;
    width: 250px;
    height: 50px;
}

br.bigger {
    line-height: 300%;
}

button:active{
    transform: scale(.9);
}

#icon-left {
    display: block;
    float: left;
    width: 25%;
}

#icon-right {
    display: block;
    float: right;
    margin-top: -50px;
    width: 25%;
}

#icon-x {
    width: 33.33%;
    float: left;
    margin-top:-40px;
    margin-left:-50px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    color: aliceblue;
    margin:0 auto;
    width: 50%;
}

#emoji {
    font-size: 100px;
    margin: 0 0;
}

#answer {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: aliceblue;
}

#attempt {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}

#green {
    color: rgb(48, 129, 48);
}

#yellow {
    color: rgb(226, 226, 0);
}

#black {
    color: rgb(0, 0, 0);
}


#stats-container {
    background: #1b1b1b;
    width:      350px;
    height:     600px; 
    z-index:    10;
    position:   fixed; 
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -175px;
    display: none;
    overflow-y: auto;
    border-radius: 5px;
}

#info-container {
    background: #1b1b1b;
    width:      350px;
    height:     600px; 
    z-index:    10;
    position:   fixed; 
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -175px;
    display: none;
    overflow-y: auto;
    border-radius: 5px;
}

#overlay{
    opacity:    0.7; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    9;
    top:        0; 
    left:       0; 
    position:   fixed;
    display: none;
}

#share-button{
    background-color: rgb(67, 148, 67);
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    color: rgb(209, 209, 209);
    font-weight: bold;
    cursor: pointer;
    display: none;
    margin: 0 auto;
}

#submit{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 75%;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    float: right;
}

#copied {
    background-color: #4CAF50;
}

#wrong {
    background-color: #DC143C;
}

.notification {
    display: none;
    z-index: 11;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    top: 10%;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 15px;
    
}

.container .box { 
    width:250px; 
    display:table;
    margin:0 auto;
} 
.container .box .box-row { 
    display:table-row;
} 
.container .box .box-cell{ 
    display:table-cell; 
    padding:10px;
    color: white;
    text-align: center;
    font-size: 32px;
}

.guess-bar {
    background-color: rgb(71, 71, 71);
    height: 40px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 60px;
    padding: 5px;
}

.guess-input{
    float: left;
}

.num-guess{
    background-color: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.guess-bar-container {
    display: grid;
    grid-template-columns: 1fr 40fr;
    grid-gap: 20px;
}

.div-head {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin:0 auto;
}

.div-body {
    font-size: 17px;
    font-weight: bold;
    color: rgb(207, 214, 219);
    margin:0 auto;
}

.button {
    height: 50px;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.guess {
    margin: 0 1.25em 30 0;
    width: 300px;
    height: 45px;
    padding: 0.5rem;
    font-size:25px;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: #949494;
}

.guess-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guesses {
    min-width: 20%;
    list-style: none;
}

.guess-item-div-left {
    width: 140px;
    float: left;
    font-weight: bold;
    text-align: right;
}

.guess-item-div-right {
    width: 140px;
    float: right;
    font-weight: bold;
    text-align: left;
}
